.search-area {
    background-image: url('./background_search_desktop.jpg');
    background-size: cover;
}

.search-bar {
    padding: 50px 0 100px 0;
}
.sort-by {
    padding-top: 50px;
    color: #fff;
    font-weight: bold;
}

.sort-by li {
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding: 0 2.58rem .33rem 2.58rem;
    display: inline;
}

.sort-by li:hover, .sort-by li:active {
    color: var(--main-color);
}

/* BOOTSTRAP OVERRIDES */
.search-btn {
    background-color: var(--main-color) !important;
    border: none !important;
    border-radius: 3px !important;
    padding: 10px 50px;
    margin-top: 50px !important;
    font-weight: bold;
}

@media only screen and (max-width: 560px) {
    .business-search {
        margin-bottom: 30px;
    }

    .sort-by li {
        text-align: left;
        padding: 0 0.50rem 1.33rem 0.50rem;
    }
}